[submodule "gtest"]
	path = Sources/Tests/gtest
	url = https://github.com/google/googletest.git
	branch = release-1.11.0
	shallow = true

[submodule "Scripts/NAGUS"]
	path = Scripts/NAGUS
	url = https://github.com/dgelessus/NAGUS.git

[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
